body {
  /* display: flex; */
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: hidden; */
}

header,
main,
footer {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

header {
  padding: 5px;
  align-items: center;
  display: flex;
  height: 10%;
  background-color: #F97E7E;
  color: white;

}

main {
  box-sizing: border-box;
  padding: 15px;
  justify-content: center;
  height: 84%;
}
footer {
  align-items: center;
  display: flex;
  height: 6%;
}

#user-info{
  display: flex;
  justify-content: right;
  margin: 0;
  margin-right: 10px;
}