footer {
  background-color: rgb(201, 201, 201);
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

footer span {
  padding-right: 20px;
  color: rgb(82, 82, 82);
}

@media only screen and (max-width: 400px) {
  footer {
    display: none;
  }
}

@media only screen and (max-height: 400px) {
  footer {
    display: none;
  }
}
