nav a {
  text-decoration: none;
  color: white;
}

header {
  justify-content: space-between;
}
nav {
  align-items: center;
  justify-content: right;
}
#menu {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}
nav li {
  padding: 7px;
  margin: 5px;
  background-color: #DA5159;
  border-radius: 5px;
}
#name-text {
  margin: 0;
  margin-left: 10px;
}


@media only screen and (max-width: 600px) {
  nav {
    display: none;
  }
}





