body {
  flex-direction: column;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
#box {
  height: 15em;
  text-align: center;
  padding: 15px;
  background-color: #f97e7e;
  color: white;
  border-radius: 5px;
}

#new-account {
  height: 60%;
  text-align: center;
  padding: 15px;
  background-color: #f97e7e;
  color: white;
  border-radius: 5px;
}
input {
  font-size: larger;
  padding: 5px;
  margin: 5px;
}

#login-button {
  margin-top: 15px;
}

.message-box {
  display: none;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 30%;
}

.error-message {
  background-color: #f44336; /* Red */
  color: white;
  display: block;
  font-size: larger;
}

.create-new-account {
  position: absolute;
  bottom: 20px;
  text-decoration: none;
  padding: 7px;
  margin: 5px;
  font-size: larger;
}

.create-new-account:hover {
  border-radius: 5px;
  color: white;
  background-color: #f97e7e;
  border-color: gray;
}

label {
  display: inline-block;
  font-size: larger;
  width: 6em;
  justify-self: left;
}
